<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/gnb.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <title>Document</title>
    <style>
        form {
            box-sizing: border-box;
            padding-top: 10vw;
            padding-left: 5vw;
            height: 100%;
        }

        #lnb {
            position: fixed;
            right: 5vw;
            bottom: 5vw;
        }

        button {
            color: white;
            border: none;
            border-radius: 1.5vw;
            font-size: 3.5vw;
            background: rgb(99, 99, 99);
            padding: 1.8vw;
        }

        table {
            table-layout: fixed;
            height: 80%;
        }

        input,
        textarea {
            padding: 1vw;
            line-height: 4vw;
            border: none;
            width: 50vw;
            border-radius: 3px;
            background-color: #eceadd;
        }


        input[type="file"] {
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }

        #title {
            font-size: 7vw;
            text-align: center;
            font-weight: bold;
            line-height: 15vw;
        }

        .upload-name {
            display: inline-block;
            margin-bottom: 2vw;
            width: 38vw;
            line-height: 4vw;
            overflow: hidden;
        }

        tr {
            height: 10vw;
        }

        td {
            height: 8vw;
        }

        .td1 {
            width: 18vw;
        }

        #deleteConfirm {
            display: none;
            position: fixed;
            padding: 10vw 5vw;
            width: 74%;
            height: 30%;
            background: #deece0;
            top: 55vw;
        }

        #deleteConfirm button {
            background: none;
            color: black;
            font-size: 6vw;
            font-weight: bold;
        }

        #deleteConfirm button:nth-of-type(2) {
            position: absolute;
            right: 5vw;
            top: 35vw;
            width: 15vw;
        }

        #deleteConfirm button:nth-of-type(1) {
            position: absolute;
            left: 5vw;
            top: 35vw;
            width: 15vw;
        }

        .td2 {
         font-size: 4vw;
        }
        .td2 img{
            object-fit:cover;
            height: 25vh;
            overflow: hidden;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#gnb img').eq(2).addClass('on')

            var userId = sessionStorage.getItem('userId')
            console.log(userId)
            if ("<%=item.host%>" == userId) {
                console.log("<%=item.host%>")
                $('.host').show()
                $('.guest').hide()
            }
            else {
                $('.host').hide()
                $('.guest').show()
            }
        });
        function confirmDelete() {
            $("#deleteConfirm").show()
        }
        function reqDelete() {
            location.href = "/servicercp/delete/<%=item.id%>"
        }
        function cancleDelete() {
            $("#deleteConfirm").hide()
        }
    </script>
</head>

<body>
    <% include ../gnb.ejs%>

    <article>

        <div class="content-box">
            <div id="title"><%=item.title%></div>
            <table>
                <tr>
                    <td colspan="2" class="td2">
                        <img src="/img/rcp/<%=item.image%>" width="100%" alt=""></td>
                </tr>
                <tr>
                    <td class="td1"> <img src="../img/rcp_timer.png" style="display: inline-block"></td>
                    <td class="td2"><%=item.time%>m</td>
                </tr>
                <tr>
                    <td class="td1">작성자</td>
                    <td class="td2"><%=item.host%></td>
                </tr>
                <tr>
                    <td class="td1">재료</td>
                    <td class="td2"><%=item.ingredients%></td>
                </tr>
                <tr>
                    <td class="td1" style="vertical-align:top">요리법</td>
                    <td class="td2"><textarea readonly cols="28" rows="8"><%=item.process%></textarea>
                </tr>
            </table>

            <nav id="lnb">
                <button class="host" onclick="confirmDelete()" type="reset">
                    DELETE
                </button>
                <button class="host" type="button" onclick="location.href='/servicercp/edit/<%=item.id%>'">
                    EDIT
                </button>
                
            </nav>
            <div id="deleteConfirm">
                "<%=item.title%>"을/를 정말 삭제하시겠습니까??
                <button onclick="reqDelete()">
                    yes
                </button>
                <button onclick="cancleDelete()">
                    no
                </button>

            </div>
        </div>




        <!-- </form> -->


    </article>
</body>

</html>